<!DOCTYPE html>
<head>
  <meta charset="UTF 8">
  <link rel="stylesheet" href = "./princStyle.css">
    <title>HomePage</title>
</head>


<div class="container">
	<div class="titular">		
		<img src="background.jpg" class="bg"/>
		<a href="file:///C:/Users/arthu/OneDrive/Documentos/GitHub/ProjetoSistemaWeb_IdeaShare/app/templates/(new)Login/login.html"><button class="btntop">Login</button></a>
		<p class="tagline">Idea Share. Conecte. Aprenda.</p>
		<p class="subtitle">Junte-se a nós para fazer parte dessa comunidade</p>
		<a href="file:///C:/Users/arthu/OneDrive/Documentos/GitHub/ProjetoSistemaWeb_IdeaShare/app/templates/(new)registrar/registro.html"><button class="btn">Começar</button></a>
	</div>
	<div class="context">
		<br/><br/>
		<h1>Descubra coisas novas</h1>
		<center><p class="line"></p></center>
		<p>Conheça novas pessoas, explore novas habilidades e persiga suas paixões - juntos. <br/>Com tanto para explorar, ajudamos a capacitá-lo a alcançar um crescimento real.</p>
	</div>
	
	<div class="area" >
		<ul class="circles">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li> 
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div >
	
</html>