<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href = "static/registrostyle/registrostyle.css">
    <title>Registrar</title>
</head>

<body>
  <form action="" method="POST" >
  <section class="area-registro">
    <div class="Registro"> 
    <div>
      <img src = "static/imgregistro/img2.png">
    </div>
    
    <style TYPE="text/css">
      body {background-image: url(static/imgregistro/background.jpg); }
    </style>

      <input type = "text"  placeholder="Usuário" autofocus required name = "nameregister">
      <input type="password"  placeholder="Senha" required name = "passwordregister"> >
      <input type="email"  placeholder="Email" required name = "emailregister">>
      <input type="submit" value="Registrar">
      
    </div>
  </section>
  </form>
</body>
</html>