<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script>
     $(function(){
     $("#cabecalho").load("../../../static/html/cabecalho.html"); 
     });
    </script> 
</head>
<body>
    <div id="cabecalho" name="cursogit"></div>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/q9dnokwu7S8?list=PLcoYAcR89n-qbO7YAVj5S0alABLis_QVU" title="Curso gratuito Git e Github #3 - Instalação e configuração" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <h3>Curso gratuito Git e Github #3 - Instalação e configuração</h3>
</body>
</html>