body{

  background-image:url(background.jpg);
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

.area-login{
  display: flex;
  justify-content: center;
  height: 100vh;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 1px black;
  
}

.Login{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000000;
  
  border-radius: 10px;
  width: 355px;
  height: 320px;
  padding: 35px;
  
}

.Login form{
  display: flex;
  width: 100%;
  flex-direction: column;
  
}

.Login input{
  margin-top: 10px; 
  background-color:#252A34;
  color:rgb(255, 255, 255);
  padding-left: 10px;
  border: none;
  height: 45px;
  outline: none;
  border-radius: 8px;

}

.Login img{
  width: 100px;
  height: auto;
  

}

input::placeholder{
  color:rgb(255, 255, 255);
  font-size: 14px;
}

form [type="submit"]{
  display: block;
  background-color: #5568fe;
  font-size: bold;
}

p{
  color: #ffffff;
}

a{
  color: #5568fe;
  text-decoration: none;
  margin-left: 10px;
}



  
