<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../../../static/html/css/cursos.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script>
        $(function () {
            $("#cabecalho").load("../../../static/html/cabecalho.html");
        });
    </script>
</head>

<body>
    <div id="cabecalho" name="cursocplusplus"></div>
    <div id="iframe">
        <iframe width="560" height="315"
            src="https://www.youtube.com/embed/bt__FYdvTOY?list=PLx4x_zx8csUjczg1qPHavU1vw1IkBcm40"
            title="Curso de C++ #06 - Variáveis Globais e Locais, Operadores matemáticos" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        <h3>Curso de C++ #06 - Variáveis Globais e Locais, Operadores matemáticos</h3>
    </div>
</body>

</html>