<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curso Java</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!------ Include the above in your HEAD tag ---------->
</head>
<body>
    <div class="container">
        
        <p>
            <h2>Curso de Java</h2>
            <p>Seja bem vindo ao curso de Java, tenha bons estudos!</p>
            <hr>
        </p>
        
            <ul class="list-unstyled video-list-thumbs row">
            <li class="col-lg-3 col-sm-4 col-xs-6">
                <a onclick="redirecionar('java_aula_01')" title="1 - CURSO DE JAVA PARA INICIANTES - BEM-VINDO #01" target="_blank">
                    <img src="https://i.ytimg.com/vi/mRryrODqQcw/maxresdefault.jpg" alt="Barca" class="img-responsive" height="130px" />
                    <h2>CURSO DE JAVA PARA INICIANTES - BEM-VINDO #01</h2>
                    <span class="glyphicon glyphicon-play-circle"></span>
                    <span class="duration">6:13</span>
                </a>
            </li>
            <li class="col-lg-3 col-sm-4 col-xs-6">
                <a onclick="redirecionar('java_aula_02')" title="2 - CURSO DE JAVA PARA INICIANTES - FUNDAMENTOS DE PROGRAMAÇÃO #02" target="_blank">
                    <img src="https://i.ytimg.com/vi/o5H2LYuHM1I/maxresdefault.jpg" alt="Barca" class="img-responsive" height="130px" />
                    <h2>CURSO DE JAVA PARA INICIANTES - FUNDAMENTOS DE PROGRAMAÇÃO #02</h2>
                    <span class="glyphicon glyphicon-play-circle"></span>
                    <span class="duration">11:16</span>
                </a>            
            </li>
            <li class="col-lg-3 col-sm-4 col-xs-6">
                <a onclick="redirecionar('java_aula_03')" title="3 - COMO INSTALAR O JAVA JDK E INTELLIJ NO WINDOWS (Atualizado) - CURSO DE JAVA PARA INICIANTES #03.1" target="_blank">
                    <img src="https://i.ytimg.com/vi/ebEhe5NBUw4/maxresdefault.jpg" alt="Barca" class="img-responsive" height="130px" />
                    <h2>COMO INSTALAR O JAVA JDK E INTELLIJ NO WINDOWS (Atualizado) - CURSO DE JAVA PARA INICIANTES #03.1</h2>
                    <span class="glyphicon glyphicon-play-circle"></span>
                    <span class="duration">25:49</span>
                </a>
            </li>
            <li class="col-lg-3 col-md-4 col-sm-4 col-xs-6" >
                <a onclick="redirecionar('java_aula_04')" title="4- CURSO DE JAVA PARA INICIANTES - INSTALANDO JAVA JDK E IDE NO MACOS #03.2" target="_blank">
                    <img src="https://i.ytimg.com/vi/-uwh4GWJBqc/maxresdefault.jpg?v=62df22f2" alt="Barca" class="img-responsive" height="130px" />
                    <h2>CURSO DE JAVA PARA INICIANTES - INSTALANDO JAVA JDK E IDE NO MACOS #03.2</h2>
                    <span class="glyphicon glyphicon-play-circle"></span>
                    <span class="duration">27:00</span>
                </a>
            </li>
            <li class="col-lg-3 col-md-4 col-sm-4 col-xs-6">
                <a onclick="redirecionar('java_aula_05')" title="5- CURSO DE JAVA PARA INICIANTES - PRIMEIRO PROGRAMA JAVA #04" target="_blank">
                    <img src="https://i.ytimg.com/vi/QO5ItC3KqJg/maxresdefault.jpg" alt="Barca" class="img-responsive" height="130px" />
                    <h2>CURSO DE JAVA PARA INICIANTES - PRIMEIRO PROGRAMA JAVA #04</h2>
                    <span class="glyphicon glyphicon-play-circle"></span>
                    <span class="duration">18:07</span>
                </a>
            </li>
            <li class="col-lg-3 col-md-4 col-sm-4 col-xs-6">
                <a onclick="redirecionar('java_aula_06')" title="6- CURSO DE JAVA PARA INICIANTES - PROGRAMAÇÃO DINÂMICA COM VARIÁVEIS #05" target="_blank">
                    <img src="https://i.ytimg.com/vi/BLMu7ebMC1A/maxresdefault.jpg" alt="Barca" class="img-responsive" height="130px" />
                    <h2>CURSO DE JAVA PARA INICIANTES - PROGRAMAÇÃO DINÂMICA COM VARIÁVEIS #05</h2>
                    <span class="glyphicon glyphicon-play-circle"></span>
                    <span class="duration">27:18</span>
                </a>
            </li>
        </ul>
        <form method="POST">
            <label for="quantity"><h2>Quantity (between 1 and 10):</h2></label>
            <input type="number" id="quantity" name="quantity_java" min="1" max="10">          
        </form> 
        <input type="button" value="Voltar" onclick="redirecionar('home')">
        <h1>Pontuação média da materia: {{media}}</h1>
    </div>   
    <script>
        const redirecionar  = (rota) => {
            window.location.replace(`http://127.0.0.1:5000/${rota}`);
        }
    </script>
</body>
</html>