<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href = "./registrostyle.css">
    <title>Registrar</title>
</head>

<body>
  <section class="area-registro">
    <div class="Registro"> 
    <div>
      <img src = "img2.png">
    </div>
    
    <style TYPE="text/css">
      body {background-image: url(background.jpg); }
  </style>

    <form action="" method="POST" >
      <input type = "text" name ="name" placeholder="Usuário" autofocus required>
      <input type="password" name ="senha" placeholder="Senha" required>
      <input type="email" name ="email" placeholder="Email" required>
      <input type="submit" value="Registrar">
    </form>

  </div>
  </section>
</body>
</html>