.cabecalho{
    display: flex;
    justify-content: space-between;

    width: 100%;
    border: 1px solid black;

    background-color: chartreuse;

    margin-bottom: 20px;
}

.itemCabecalho{
    margin: 5px;

}