<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <iframe width="560" height="315" src="https://www.youtube.com/watch?v=BLMu7ebMC1A&list=PLJ0AcghBBWSi6nK2CUkw9ngvwWB1gE8mL&index=6" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <h3>CURSO DE JAVA PARA INICIANTES - PROGRAMAÇÃO DINÂMICA COM VARIÁVEIS #05</h3>
    <form action="" method="post" name = "btn_back_to_">
        <input type="button" value="Voltar" onclick="redirecionar('cursoJava')">
    </form> 
    <script>
        const redirecionar  = (rota) => {
            window.location.replace(`http://127.0.0.1:5000/${rota}`);
        }
    </script>
</body>
</html>