<!DOCTYPE html>
<head>
    <meta charset="UTF 8">
    <link rel="stylesheet" href = "./hpage_style.css">
      <title>Home Page</title>
  </head>

    <div class="main">
        <h1>Cursos</h1>
        <ul class="cards">
          <li class="cards_item">
            <div class="card">
              <div class="card_image"><img src="c.png"></div>
              <div class="card_content">
                <h2 class="card_title">C</h2>
                <p class="card_text">Neste curso você aprenderá a linguagem de programação C.</p>
                <button class="btn card_btn">Read More</button>
              </div>
            </div>
          </li>
          <li class="cards_item">
            <div class="card">
              <div class="card_image"><img src="c++.jpg"></div>
              <div class="card_content">
                <h2 class="card_title">C++</h2>
                <p class="card_text">Neste curso você aprenderá a linguagem de programação Java.</p>
                <button class="btn card_btn">Leia Mais!</button>
              </div>
            </div>
          </li>
          <li class="cards_item">
            <div class="card">
              <div class="card_image"><img src="git.jpg"></div>
              <div class="card_content">
                <h2 class="card_title">Git</h2>
                <p class="card_text">Neste curso você aprenderá a linguagem de programação Git.</p>
                <button class="btn card_btn">Leia Mais!</button>
              </div>
            </div>
          </li>
          <li class="cards_item">
            <div class="card">
              <div class="card_image"><img src="java.jpg"></div>
              <div class="card_content">
                <h2 class="card_title">Java</h2>
                <p class="card_text">Neste curso você aprenderá a linguagem de programação Java. </p>
                <button class="btn card_btn">Leia Mais!</button>
              </div>
            </div>
          </li>
          <li class="cards_item">
            <div class="card">
              <div class="card_image"><img src="js.png"></div>
              <div class="card_content">
                <h2 class="card_title">Java Script</h2>
                <p class="card_text">Neste curso você aprenderá a linguagem de programação Java Script.</p>
                <button class="btn card_btn">Leia Mais!</button>
              </div>
            </div>
          </li>
          <li class="cards_item">
            <div class="card">
              <div class="card_image"><img src="python.jpg"></div>
              <div class="card_content">
                <h2 class="card_title">Python</h2>
                <p class="card_text">Neste curso você aprenderá a linguagem de programação Python. </p>
                <button class="btn card_btn">Leia Mais!</button>
              </div>
            </div>
          </li>
        </ul>
      </div>
      
      <h3 class="made_by">Made with ♡</h3>



</html>