<!DOCTYPE html>
<head>
    <meta charset="UTF 8">
    <link rel="stylesheet" href = "./hpage_style.css">
      <title>Home Page</title>
  </head>

    <div class="main">
        <h1>Cursos</h1>
        <ul class="cards">
          <li class="cards_item">
            <div class="card">
              <div class="card_image"><img src="c.png"></div>
              <div class="card_content">
                <h2 class="card_title">C</h2>
                <p class="card_text">Neste curso você aprenderá a linguagem de programação C, pelo professor Claudio Rogerio.</p>
                <button class="btn card_btn">Leia Mais!</button>
              </div>
            </div>
          </li>
          <li class="cards_item">
            <div class="card">
              <div class="card_image"><img src="c++.png"></div>
              <div class="card_content">
                <h2 class="card_title">C++</h2>
                <p class="card_text">Neste curso você aprenderá a linguagem de programação C++, pelo professor Bruno Campos.</p>
                <button class="btn card_btn">Leia Mais!</button>
              </div>
            </div>
          </li>
          <li class="cards_item">
            <div class="card">
              <div class="card_image"><img src="git.png"></div>
              <div class="card_content">
                <h2 class="card_title">Git</h2>
                <p class="card_text">Neste curso você aprenderá a linguagem de programação Git, pelo professor Tiago Matos.</p>
                <button class="btn card_btn">Leia Mais!</button>
              </div>
            </div>
          </li>
          <li class="cards_item">
            <div class="card">
              <div class="card_image"><img src="java.jpg"></div>
              <div class="card_content">
                <h2 class="card_title">Java</h2>
                <p class="card_text">Neste curso você aprenderá a linguagem de programação Java completo, pelo professor Tiago Aguiar. </p>
                <button class="btn card_btn">Leia Mais!</button>
              </div>
            </div>
          </li>
          <li class="cards_item">
            <div class="card">
              <div class="card_image"><img src="js.png"></div>
              <div class="card_content">
                <h2 class="card_title">Java Script</h2>
                <p class="card_text">Neste curso você aprenderá a linguagem de programação JS, pelo professor Gustavo Guanabara.</p>
                <button class="btn card_btn">Leia Mais!</button>
              </div>
            </div>
          </li>
          <li class="cards_item">
            <div class="card">
              <div class="card_image"><img src="python.jpg"></div>
              <div class="card_content">
                <h2 class="card_title">Python</h2>
                <p class="card_text">Neste curso você aprenderá a linguagem de programação Python, pelo professor Gustavo Guanabara. </p>
                <button class="btn card_btn">Leia Mais!</button>
              </div>
            </div>
          </li>
        </ul>
      </div>
      




</html>