<!DOCTYPE html>
<head>
    <meta charset="UTF 8">
    <link rel="stylesheet" href = "static/homestyle/hpage_style.css">
      <title>Home Page</title>
  </head>
<body>
  
  <div class="main">
    <style TYPE="text/css">
      body {background-image: url(static/imghome/background.jpg); }
    </style>
        <h1>Cursos</h1>
        <ul class="cards">
          <li class="cards_item">
            <div class="card">
              <div class="card_image"><img src="static/imghome/cs.png"></div>
              <div class="card_content">
                <h2 class="card_title">C#</h2>
                <p class="card_text">Neste curso você aprenderá a linguagem de programação C#, pelo professor Claudio Rogerio.</p>
                <button class="btn card_btn" onclick="redirecionar('cursocsharpie')">Acessar o Curso</button>
              </div>
            </div>
          </li>
          <li class="cards_item">
            <div class="card">
              <div class="card_image"><img src="static/imghome/c++.png"></div>
              <div class="card_content">
                <h2 class="card_title">C++</h2>
                <p class="card_text">Neste curso você aprenderá a linguagem de programação C++, pelo professor Bruno Campos.</p>
                <button class="btn card_btn" onclick="redirecionar('cursocpluplus')">Acessar o Curso</button>
              </div>
            </div>
          </li>
          <li class="cards_item">
            <div class="card">
              <div class="card_image"><img src="static/imghome/git.png"></div>
              <div class="card_content">
                <h2 class="card_title">Git</h2>
                <p class="card_text">Neste curso você aprenderá a linguagem de programação Git, pelo professor Tiago Matos.</p>
                <button class="btn card_btn" onclick="redirecionar('cursogit')">Acessar o Curso</button>
              </div>
            </div>
          </li>
          <li class="cards_item">
            <div class="card">
              <div class="card_image"><img src="static/imghome/java.jpg"></div>
              <div class="card_content">
                <h2 class="card_title">Java</h2>
                <p class="card_text">Neste curso você aprenderá a linguagem de programação Java completo, pelo professor Tiago Aguiar. </p>
                <button class="btn card_btn" onclick="redirecionar('cursojava')">Acessar o Curso</button>
              </div>
            </div>
          </li>
          <li class="cards_item">
            <div class="card">
              <div class="card_image"><img src="static/imghome/js.png"></div>
              <div class="card_content">
                <h2 class="card_title">Java Script</h2>
                <p class="card_text">Neste curso você aprenderá a linguagem de programação JS, pelo professor Gustavo Guanabara.</p>
                <button class="btn card_btn" onclick="redirecionar('cursojavascript')">Acessar o Curso</button>
              </div>
            </div>
          </li>
          <li class="cards_item">
            <div class="card">
              <div class="card_image"><img src="static/imghome/python.jpg"></div>
              <div class="card_content">
                <h2 class="card_title">Python</h2>
                <p class="card_text">Neste curso você aprenderá a linguagem de programação Python, pelo professor Gustavo Guanabara. </p>
                <button class="btn card_btn" onclick="redirecionar('cursopython')">Acessar o Curso</button>
              </div>
            </div>
          </li>
        </ul>
      </div>
      
      
      

    <script>
        const redirecionar  = (rota) => {
            window.location.replace(`http://127.0.0.1:5000/${rota}`);
        }
    </script>
    </body>
    </html>