<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
    <div class="features-clean">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Idea Share</h2>
                <p class="text-center">Bons estudos!</p>
            </div>
            <div class="row features">
                <div class="col-sm-6 col-lg-4 item"><i class="fa fa-map-marker icon"></i>                   
                    <form action="" method="post">
                        <input type="submit" value="Python" name = "curso_python_link"/>
                    </form>
                        <p class="description">Neste curso você aprenderá a linguagem de programação que vem crescendo muito! <br>
                        <br> Sem pré requisitos!
                        </p>
                </div>
                <div class="col-sm-6 col-lg-4 item"><i class="fa fa-clock-o icon"></i>
                    <form action="" method="post">
                        <input type="submit" value="Java" name = "curso_java_link"/>
                        <p class="description">Neste curso você aprenderá a linguagem de programação que vem crescendo muito! <br>
                        <br> Sem pré requisitos!
                        </p>
                    </form>
                </div>
                <div class="col-sm-6 col-lg-4 item"><i class="fa fa-list-alt icon"></i>
                    <form action="" method="post">
                        <input type="submit" value="C++" name = "curso_C++_link"/>
                        <p class="description">Neste curso você aprenderá a linguagem de programação que vem crescendo muito! <br>
                        <br> Sem pré requisitos!
                        </p>
                    </form>
                </div>
                <div class="col-sm-6 col-lg-4 item"><i class="fa fa-leaf icon"></i>
                    <form action="" method="post">
                        <input type="submit" value="JavaScript" name = "curso_JavaScript_link"/>
                        <p class="description">Neste curso você aprenderá a linguagem de programação que vem crescendo muito! <br>
                        <br> Sem pré requisitos!
                        </p>
                    </form>
                </div>
                <div class="col-sm-6 col-lg-4 item"><i class="fa fa-plane icon"></i>
                    <form action="" method="post">
                        <input type="submit" value="Git" name = "curso_git_link"/>
                        <p class="description">Neste curso você aprenderá a linguagem de programação que vem crescendo muito! <br>
                        <br> Sem pré requisitos!
                        </p>
                    </form>
                </div>
                <div class="col-sm-6 col-lg-4 item"><i class="fa fa-phone icon"></i>
                    <form action="" method="post">
                        <input type="submit" value="C#" name = "curso_c#_link"/>
                        <p class="description">Neste curso você aprenderá a linguagem de programação que vem crescendo muito! <br>
                        <br> Sem pré requisitos!
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
</body>

</html>