<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curso Python</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
</head>
<body>
    <div class="container">
        <p>
            <h2>Curso de Python</h5>
            <p>Seja bem vindo ao curso de python, tenha bons estudos!</p>
            <hr>
        </p>
        
        <ul class="list-unstyled video-list-thumbs row">
            <li class="col-lg-3 col-sm-4 col-xs-6">
                <a href="cursopythonvideos.html/videoUM.html" title="1- Curso Python #01 - Seja um Programador" target="_blank">
                    <img src="https://i.ytimg.com/vi/S9uPNppGsGo/maxresdefault.jpg" alt="Barca" class="img-responsive" height="130px" />
                    <h2>1- Curso Python #01 - Seja um Programador</h2>
                    <span class="glyphicon glyphicon-play-circle"></span>
                    <span class="duration">29:07</span>
                </a>
            </li>
            <li class="col-lg-3 col-sm-4 col-xs-6">
                <a href="cursopythonvideos.html/videoDOIS.html" title="2- Curso Python #02 - Para que serve o Python?" target="_blank">
                    <img src="https://i.ytimg.com/vi/Mp0vhMDI7fA/maxresdefault.jpg" alt="Barca" class="img-responsive" height="130px" />
                    <h2>2- Curso Python #02 - Para que serve o Python?</h2>
                    <span class="glyphicon glyphicon-play-circle"></span>
                    <span class="duration">21:52</span>
                </a>
            </li>
            <li class="col-lg-3 col-sm-4 col-xs-6">
                <a href="cursopythonvideos.html/videoTRES.html" title="Curso Python #03 - Instalando o Python3 e o IDLE" target="_blank">
                    <img src="https://i.ytimg.com/vi/VuKvR1J2LQE/maxresdefault.jpg" alt="Barca" class="img-responsive" height="130px" />
                    <h2>Curso Python #03 - Instalando o Python3 e o IDLE</h2>
                    <span class="glyphicon glyphicon-play-circle"></span>
                    <span class="duration">17:48</span>
                </a>
            </li>
            <li class="col-lg-3 col-md-4 col-sm-4 col-xs-6">
                <a href="cursopythonvideos.html/videoQUATRO.html" title="4- Curso Python #04 - Primeiros comandos em Python3" target="_blank">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQsAzoNq-Js11-L2sjuaLaAAP_v49ah_zT1CmzVw9OwfJaxqNrsQeqWr3296zMwFf9wBeU&usqp=CAU" alt="Barca" class="img-responsive" height="130px" />
                    <h2>4- Curso Python #04 - Primeiros comandos em Python3</h2>
                    <span class="glyphicon glyphicon-play-circle"></span>
                    <span class="duration">27:32</span>
                </a>
            </li>
            <li class="col-lg-3 col-md-4 col-sm-4 col-xs-6">
                <a href="cursopythonvideos.html/videoCINCO.html" title="5- Curso Python #05 - Instalando o PyCharm e o QPython3" target="_blank">
                    <img src="https://i.ytimg.com/vi/ElRd0cbXIv4/maxresdefault.jpg" alt="Barca" class="img-responsive" height="130px" />
                    <h2>5- Curso Python #05 - Instalando o PyCharm e o QPython3</h2>
                    <span class="glyphicon glyphicon-play-circle"></span>
                    <span class="duration">31:40</span>
                </a>
            </li>
            <li class="col-lg-3 col-md-4 col-sm-4 col-xs-6">
                <a href="cursopythonvideos.html/videoSEIS.html" title="6- Curso Python #06 - Tipos Primitivos e Saída de Dados" target="_blank">
                    <img src="https://images.passeidireto.com/thumbnails/video/99124431/thumb.jpg.large" alt="Barca" class="img-responsive" height="130px" />
                    <h2>6- Curso Python #06 - Tipos Primitivos e Saída de Dados</h2>
                    <span class="glyphicon glyphicon-play-circle"></span>
                    <span class="duration">29:41</span>
                </a>
            </li>
        </ul>
        
        </div>
</body>
</html>